# Set this to your host user ID (run `id -u` in terminal) to prevent file permission issues.
AIRFLOW_UID=1000

# This defines the base directory of your project for volume mounting, usually set to the current directory (.).
AIRFLOW_PROJ_DIR=.